# Python environment
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.sqlite3

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db
node_modules
dist
.DS_Store
server/public
vite.config.ts.*
*.tar.gz